/*mon site a été inspiré par un site que j'ai trouvé sur internet sur le meme sujet où j'ai pris quelques ressources(images,textes)
		https://www.grands-espaces.com/aventures/le-premier-homme-au-pole-nord/
		et je me suis inspiré par un tutoriel youtube: https://www.youtube.com/watch?v=oYRda7UtuhA
	*/

/* cette section est responsable pour les font du texte utilisé
    et remet tous les margin et tout les padding de dafaut à 0 */
    @font-face {
        font-family: "gras";
        src: url("fonts/static/Manrope-ExtraBold.ttf");
    }
    @font-face {
        font-family: "normal";
        src: url("fonts/static/Manrope-Medium.ttf");
    }

    *{
        margin: 0;
        padding:0;
        scroll-behavior: smooth;
    }

    /* cette section est pour l'image de fond  */
    header{
        height: 100vh;
        width: 100%;
        padding: none;
        margin-bottom: 3em;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/antartica.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    /* logo */
    nav img{
        width: 100px;
    }

    /* le menu de navigation */
    nav{
        font-family: "gras";
        display: flex;
        padding: 2% ;
        justify-content: space-between;
        align-items: center;
        /*border 1px;
        background-color: #000050;*/
    }

    /* les liens dans le menu de navigation */
    .links{
        text-align: right;
    }

    .links ul li{
        list-style: none;
        flex: 1;
        text-decoration: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

    .links ul li a{
        text-decoration: none;
        font-size: 17px;
        color: white;
    }

    .links ul li a:hover{
        color: #1967b9;
        transition: 0.1s;
        border-bottom: 2px solid #1967b9;
        border-radius: 1px ;
        transition-timing-function: linear;
    }


    /* le bouton de Decouvrir */
    .text a{
        margin: 5em;
        padding: 15px 2em;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 8px;
        font-size: 17px;
        cursor: pointer;
        font-family: "normal";
        text-align: center;

    }

    .text a:hover{
        border: 1px solid #87CEFA;
        background-color: #87CEFA;
        transition: 0.2s;
    }
    .text a:active{
        transition-duration: 2s;
    }

    /* paragraphe au dessous du titre */
    .text{
        font-family: "normal";
        width: 90%;
        color: white;
        position: absolute;
        top: 40%;
        left: 91.6px;
        text-align: center;
    }

    /* Titre */
    .text h1{
        font-size: 80px;
        font-family: "gras";
        margin-bottom: 1em;
    }




    /* section du contenu */

    .contenu-1{
        max-width: 50%;
        margin: auto;
        text-align: left;
        padding-top: 100px;
        font-family: "normal";
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        margin-bottom: 3em;

    }
    .contenu-1 h2{
        font-family: "gras";
        font-size: 40px;
        padding-top: 3em;
        padding-bottom: 1em;
    }



    .contenu-1 p{
        font-family: "normal";
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        margin-bottom: 3em;
    }
    /* première image */
    .contenu-1 .pole-vrai{
        margin-top: 1em;
        float: right;
        width: 50%;
        border: 1px solid black;
    }



    /* image du navire */
    .navire{
        width: 100%;
    }

    /* dernière image */
    #nansen {
        width: 100%;
    }

    /* footer */

    footer{
        margin-top: 6em;
        padding: 2em;
        background-color: #000050;
        color: white;
    }
    footer p{
        text-align: center;
        font-family: "normal";
    }
    footer h4{
          text-align: center;
        font-family: "gras";
        font-size: 30px;
    }
    footer ul{

        padding-top: 2em;
        text-align: center;
    }
    footer ul li{
        list-style: none;
        font-family: "normal";
    }

    .copyright{
        font-size: 10px;
        color: grey;
        margin-top: 3em;
    }











/* proprietés pour la page : Expeditions */

.contenu-1 h2:first-of-type{
  padding-top: 1em;
}

/* section de l'image du fond de l'en tete de la deuxième page */

.header-exp{
  height: 100vh;
  width: 100%;
  padding: none;
  margin: none;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/big_ice_breaker.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*section pour l'image de la deuxième partie */

/*le premiere image et son texte*/
.barents{
  /*display: flex;*/

}
.barents img{
  width:50%;
  float: right;
  padding: 1em;

}

/*la deuxième image et son texte*/

.nobile img{
  width: 40%;
  float: right;
  padding: 1em;
  border: 3px solid black;
  background-color: #000050;
  border-radius: 1em;
}


/*la troisième image et son texte */
.Peary img{
  width: 30%;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  border: 1px;
  border-radius: 1em;
}

/* la galerie des navires */


.contenu-1 h2:last-child{/*le Titre de la partie*/
  padding-left: 20%;
}


.navires{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 2em;
  font-family: normal;
}

.navires h4{
  font-family: gras;
  font-size: 20px;
  padding: 1em;
  color: #000050;
}

.navires figure{
  padding: 1em;
  width: auto;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #F1F1F1;
}


.infos li{
  padding-top: 10px;
  list-style: none;
  color: grey;
}
.navires figure:hover{
  transform: scale(1.2);
  transition: 1s;
  cursor: pointer;

}
.navires img{
  width: 100%;
  border: 1px ;
  border-radius: 1em;
}








/* Proprietes pour la page Politique */

.header-pol {/*l'image de fond du header de la page Politique*/
  height: 100vh;
  width: 100%;
  padding: none;
  margin: none;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/images-politique/south_pole_station.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


/*les images et les textes des figures*/
.map img{
  width: 100%;
}
.map{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.submarine{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.submarine img{
  width: 100%;

}






/*proprietés de la page militaire*/
.header-mil{
  height: 100vh;
  width: 100%;
  padding: none;
  margin: none;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/images-militaire/soldier.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.figures img{
  width: 40%;
  border: 1px ;
  border-radius: 1em;
  float: right;
  margin: 1em;
}
.figures ul,.operation ul,.operation h3{
  padding-top: 1em;
  padding-bottom: 1em;
}

.operation {
  margin-top: 10%;
}
/*partie de la galerie*/
.galerie{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  gap: 3em;
}
.galerie img{
  width: 100%;
  border: 1px;
  border-radius: 1em;
}
.galerie figure{
  width: 100%;
  padding: 1em;
  width: auto;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #F1F1F1;
}
.galerie figure:hover{
  box-shadow: 10px 5px 5px black;
  transform: scale(1.1);
  transition: 0.2s;
}



/*Proprietes de la page Contact*/
.header-cont{
  height: 100vh;
  width: 100%;
  padding: none;
  margin: none;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contact.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.contenu-1 fieldset{
  padding: 1em;
  border: none;
}
.contenu-1 form{
  padding-top: 2em;
}
.contenu-1 legend{
  font-weight: bold;
}
.contenu-1 label{
  margin-left: 1em;
}




/* Les proprietés pour l'adaptivité pour les differents tailles */
@media (max-width: 1650px){
  .contenu-1{
      max-width: 70%;
  }
}

@media (max-width : 900px){
  .galerie{

    grid-template-columns: 1fr ;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .navires{
    grid-template-columns: auto;
    grid-auto-rows: 1fr 1fr 1fr;

  }
  .text{
      font-family: "normal";
      width: 90%;
      color: white;
      position: absolute;
      top: 40%;
      left: 70px;
      text-align: center;
  }
}

@media (max-width: 600px){
  body{
    font-size: 10px;
  }
  .text{
    left:50px;
  }
  .text h1{
    font-size: 40px;
  }
  .text a{
    padding: 1em;
    font-size: 15px;

  }
  .text p{
    display: none;
  }
  .contenu-1 h2{
    font-size: 30px;
  }
  .footer ul{
      padding-left: 10%;
  }

}

@media (max-width: 400px) {
  .contenu-1 h2{
    font-size: 20px;
  }
}

/* ressources*/
/*
https://fr.wikipedia.org/wiki/P%C3%B4le_Nord
https://fr.wikipedia.org/wiki/Op%C3%A9ration_Highjump
https://fr.wikipedia.org/wiki/Liste_de_bases_antarctiques
https://fr.wikipedia.org/wiki/Revendications_territoriales_en_Antarctique
https://fr.wikipedia.org/wiki/Revendications_territoriales_en_Arctique
https://www.grands-espaces.com/
https://www.nationalgeographic.fr/environnement/un-air-de-guerre-froide-souffle-sur-larctique
https://www.nationalgeographic.fr/photography/2018/10/larctique-place-sous-surveillance-militaire
*/
